* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef4f7;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
}

h1 {
    text-align: center;
    color: #303858;
    margin-bottom: 5px;
}

.container > p {
    text-align: center;
    color: #777;
}

.form {
    display: flex;
    gap: 15px;
    margin-top: 35px;
}

input,
select {
    padding: 15px;
    border: none;
    background: #eef3f7;
    border-radius: 10px;
    font-size: 14px;
}

#description {
    flex: 2;
}

#amount {
    width: 130px;
}

#category {
    width: 150px;
}

button {
    background: #3d5afe;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: #304ffe;
}

.filter {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    padding: 20px 0;
    border-top: 1px solid #eee;
}

.filter select {
    width: 180px;
}

#expenseList {
    min-height: 250px;
    padding: 30px 10px;
}

.empty {
    text-align: center;
    color: #999;
    margin-top: 80px;
}

.expense {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    background: #f5f7fa;
    border-radius: 10px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    color: #555;
}

#total {
    color: #3d5afe;
    font-size: 20px;
}